/*initialization*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }
li { list-style: none; }
a { color: rgba(0, 0, 0, 0.87); text-decoration: none; }

/* common */

.left, .right {
  float: left;
}

.left {
  width: 300px; height: 100%;
  text-align: center;
  background: #fff;
  position: fixed;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.left > img {
  margin: 40px 0 20px;
}

.left .search {
  width: 100%; height: 40px;
  margin-bottom: 10px;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.left .search-input {
  width: 100%; height: 100%;
  border: 0;
  box-shadow: 0 2px 2px #888888;
}

.left .search .material-icons {
  position: absolute;
  top: 9px; right: 30px;
  cursor: pointer;
}

.left .menu {
  text-align: left;
  font-size: 13px;
}

.left .menu li {
  transition: background-color .3s linear;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  font-weight: bold;
}

.left .menu li:nth-child(1),
.left .menu li:nth-child(2) {
  font-weight: normal;
}

.left .menu li:hover {
  background-color: #F2F2F2;
}

.menu li .new-btn {
  color: #fff;
  font-size: 12px;
  line-height: normal;
  background: #26A69A;
  border: 0;
  border-radius: 3px;
  margin-top: 15px;
  padding: 4px 12px;
  float: right;
  cursor: pointer;
}

.right {
  max-width: 1603px;
  margin-left: 300px;
}

.footer {
  height: 220px;
  background: #ee6e73;
  box-sizing: border-box;
  padding: 20px 150px;
  overflow: auto;
}

.footer dl { float: left; margin-right: 30px; }

.footer dl h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer dd {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.footer dd > button {
  color: #fff;
  font-size: 17px;
  background: #EF9A9A;
  border: 0;
  border-radius: 1px;
  margin-top: 15px;
  padding: 7px 33px;
  box-shadow: 0 1px 2px #333;
  cursor: pointer;
}

.footer .sns p {
  float: left;
  margin-left: 10px;
}

.footer .sns button {
  border: 0;
  margin-bottom: 5px;
  float: left;
  cursor: pointer;
}

.github-btn, .twitter-btn, .google-btn {
  overflow: auto;
}

.github-btn button {
  font-size: 16px;
  background: #eee;
  border-radius: 5px;
  padding: 7px 15px;
}

.github-btn .arrow_box {
  color: #000;
	position: relative;
	background: #eee;
	border: 1px solid #d4d4d4;
  font-size: 17px;
  padding: 5px 12px;
  border-radius: 5px;
}

.github-btn .arrow_box:after, .github-btn .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.github-btn .arrow_box:after {
	border-color: rgba(250, 250, 250, 0);
	border-right-color: #eee;
  border-width: 5px;
	margin-top: -5px;
}

.github-btn .arrow_box:before {
	border-color: rgba(212, 212, 212, 0);
	border-right-color: #d4d4d4;
  border-width: 5px;
	margin-top: -5px;
}

.twitter-btn button {
  color: #fff;
  background: #1b95e0;
  border-radius: 5px;
  padding: 6px 10px;
}

.twitter-btn .arrow_box {
  color: #292F33;
	position: relative;
	background: #fff;
	border: 1px solid #8799A6;
  font-size: 13px;
  padding: 5px 12px;
  border-radius: 5px;
}
.twitter-btn .arrow_box:after, .twitter-btn .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.twitter-btn .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 3px;
	margin-top: -3px;
}
.twitter-btn .arrow_box:before {
	border-color: rgba(135, 153, 166, 0);
	border-right-color: #8799A6;
	border-width: 4px;
	margin-top: -4px;
}

.google-btn button {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border-radius: 1px;
  padding: 4px 20px;
}

.google-btn .arrow_box {
  color: #666;
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
  font-size: 13px;
  padding: 1px 12px;
  border-radius: 2px;
}
.google-btn .arrow_box:after, .google-btn .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.google-btn .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 3px;
	margin-top: -3px;
}
.google-btn .arrow_box:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CCCCCC;
	border-width: 4px;
	margin-top: -4px;
}

.copyright {
  height: 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 50px;
  background: #DF696E;
  box-sizing: border-box;
  padding: 0 150px;
}

.copyright > a {
  color: #fff;
  float: right;
}

/*ie9*/

@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
  .left .search .material-icons {
    display: inline-block;
    width: 24px; height: 24px;
    background: url(../img/search-btn.png);
  }
}

/*ie8*/

@media \0screen {
    a { color: #000; }

    .left .search-input {
      border: 1px solid #888;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .left .search .material-icons {
      display: inline-block;
      width: 24px; height: 24px;
      text-indent: -9999px;
      background: url(../img/search-btn.png);
    }

    .menu li .new-btn {
      width: 46px; height: 22px;
      text-indent: -9999px;
      background-color: transparent;
      background-image: url(../img/new-btn.png);
    }

    .right .github button {
      width: 97px; height: 36px;
      text-indent: -9999px;
      background-color: transparent;
      background-image: url(../img/github.png);
    }

    .article2 button, .article3 button {
      text-indent: -9999px;
      background-color: transparent;
    }

    .article2 button {
      width: 198px; height: 48px;
      background-image: url(../img/showcase-btn.png);
    }

    .article3 button {
      width: 211px; height: 46px;
      background-image: url(../img/explore-btn.png);
    }

    .footer dd > button {
      width: 134px; height: 37px;
      text-indent: -9999px;
      background-color: transparent;
    }

    .footer dd .donation-btn {
      background-image: url(../img/donation-btn.png);
    }

    .footer dd .chatting-btn {
      background-image: url(../img/chatting-btn.png);
    }

    .footer .sns button, .footer .sns p,
    .footer .sns p:before, .footer .sns p:after {
      text-indent: -9999px;
      background-color: transparent;
      border: 0;
    }

    .github-btn button {
      width: 78px; height: 33px;
      background-image: url(../img/github-btn.png);
    }

    .github-btn .arrow_box {
      width: 58px; height: 22px;
      background-image: url(../img/github-people.png);
    }

    .twitter-btn button {
      width: 225px; height: 30px;
      background-image: url(../img/twitter-btn.png);
    }

    .twitter-btn .arrow_box {
      width: 113px; height: 22px;
      background-image: url(../img/twitter-people.png);
    }

    .google-btn button {
      width: 85px; height: 23px;
      background-image: url(../img/google-btn.png);
    }

    .google-btn .arrow_box {
      width: 38px; height: 20px;
      background-image: url(../img/google-people.png);
    }
}

/* main */

.main .header {
  height: 550px;
  color: #fff;
  text-align: center;
  background: #EE6E73;
  padding: 40px 150px;
  box-sizing: border-box;
}

.main .header h1 {
  text-align: left;
  font-size: 60px;
  font-weight: 300;
}

.main .header > .desc {
  font-size: 35px;
  font-weight: 300;
  margin-top: 30px;
}

.main .header button {
  color: #fff;
  font-size: 22px;
  background: #f3989b;
  border: 0;
  margin-top: 45px;
  padding: 22px 100px;
  box-shadow: 0 2px 3px #333;
  cursor: pointer;
}

.main .header .version {
  font-size: 13px;
  margin-top: 20px;
}

.main .ads {
  width: 360px; height: 130px;
  font-size: 13px;
  background: #F08185;
  box-sizing: border-box;
  margin: 40px auto;
  padding: 15px;
  position: relative;
}

.main .ads img {
  width: 130px;
  float: left;
}

.main .ads .desc {
  text-align: left;
  line-height: 20px;
  margin-left: 15px;
  float: left;
}

.main .ads .adsby {
  font-size: 11px;
  position: absolute;
  bottom: 15px; right: 15px;
}

.main .right .github {
  height: 65px;
  color: #e6e5e5;
  font-size: 14px;
  background: #5c5757;
  box-sizing: border-box;
  padding: 0 150px;
  cursor: pointer;
}

.main .right .github span { line-height: 65px; }

.main .right .github a { color: #f0f0f0; line-height: 65px; }

.main .right .github button {
  color: #fff;
  background: #6f6d6d;
  border: 0;
  border-radius: 1px;
  margin-top: 14px;
  padding: 10px 25px;
  float: right;
  cursor: pointer;
}

.main .section {
  text-align: center;
  background: #FCFCFC;
}

.main .wrapper {
  width: 85%;
  margin: 0 auto;
}

.main .article {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 40px 0 60px;
}

.main .article > h1 {
  color: #ee6e73;
  font-size: 40px;
  font-weight: 300;
}

.main .article1 > img {
  margin-bottom: 30px;
}

.main .article1 .features {
  margin: 0 auto;
  margin-top: 100px;
  overflow: auto;
}

.main .article1 .features dl {
  font-size: 13px;
  float: left;
}

.main .article1 .features dt {
  width: 410px; height: 105px;
}

.main .article1 .features h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 20px;
}

.main .article2 {
  position: relative;
  overflow: auto;
}

.main .article2 p {
  font-size: 20px;
  margin-top: 35px;
}

.main .article2 button, .main .article3 button {
  color: #fff;
  background: #26A69A;
  border: 0;
  border-radius: 1px;
  box-shadow: 0 2px 3px #333;
  padding: 15px 35px;
  cursor: pointer;
}

.main .article2 button {
  position: absolute;
  top: 100px; right: 0;
}

.main .article3 p {
  margin-top: 40px;
}

.main .article3 img {
  display: block;
  margin: 30px auto 0;
}

.main .article3 button {
  margin-top: 30px;
}

/* about & getting-started */

.tutorial .header {
  height: 285px;
  background: #ee6e73;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 140px;
}

.tutorial .header .title {
  float: left;
}

.tutorial .header h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 300;
}

.tutorial .header .title > .desc {
  color: #FFCDD2;
  font-size: 35px;
  font-weight: 300;
  margin-top: 15px;
}

.tutorial .ads {
  width: 150px; height: 204px;
  color: #fff;
  font-size: 13px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 200px;
  float: left;
}

.tutorial .ads img {
  width: 130px;
}

.tutorial .ads .desc {
  text-align: left;
  line-height: 20px;
}

.tutorial .ads .adsby {
  font-size: 10px;
  margin-top: 7px;
  margin-left: 35px;
}

.tutorial .section {
  background: #FCFCFC;
}

.tutorial .wrapper {
  width: 85%;
  margin: 0 auto;
  overflow: visible;
}

.tutorial .wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.tutorial .articles, .tutorial .aside {
  float: left;
}

.tutorial .articles { max-width: 1076px; overflow: visible; }

.tutorial .aside {
  width: 195px; height: 100%;
}

.tutorial .article {
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.tutorial .article > h2 {
  color: #ee6e73;
  font-size: 50px;
  font-weight: 300;
  margin-top: 30px;
}

.tutorial .article > p {
  font-size: 18px;
}

.tutorial .aside ul {
  margin-top: 80px;
}

.tutorial .aside li {
  padding: 0 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.tutorial .aside li.active {
  font-weight: bold;
  border-left: 2px solid #ee6e73;
}

.tutorial .aside li a {
  color: #757575;
}

/* about */

.about .article h3 {
  color: #ee6e73;
  font-size: 40px;
  font-weight: 300;
  margin-top: 20px;
}

.about .article1 {
  overflow: visible;
}

.about .article1 .matertial-video {
  margin-top: 25px;
}

.about .rules {
  overflow: visible;
}

.about .rules:after {
  content: '';
  display: block;
  clear: both;
}

.about .rules dl {
  width: 33.33%;
  text-align: center;
  margin-top: 15px;
  float: left;
}

.about .rules dd > h4 {
  font-size: 35px;
  font-weight: 400;
}

.about .rules dd > p {
  font-size: 15px;
  text-align: left;
  margin-top: 15px;
}

.about .article2 img {
  margin-top: 30px;
}

.about .members {
  margin: 60px 0;
  margin-left: 15px;
}

.about .members dl { overflow: auto; margin-top: 45px; }

.about .members dt, .about .members dd {
  float: left;
}

.about .members dd {
  margin-top: 40px;
  margin-left: 45px;
  font-weight: 400;
}

.about .members dd > h4 {
  font-size: 35px;
  font-weight: 400;
}

.about .members dd > p {
  margin-top: 10px;
  font-size: 14px;
}

/* getting-started */

.getting-started button {
  border: 0;
  box-shadow: 0 2px 3px #333;
  cursor: pointer;
}

.getting-started .article h3 {
  font-size: 25px;
}

.getting-started .article1 > p {
  margin-top: 40px;
}

.getting-started .downloads-file {
  margin-top: 40px;
  overflow: auto;
}

.getting-started .downloads-file dl {
  float: left;
}

.getting-started .downloads-file dl:first-child {
  margin-right: 40px;
}

.getting-started .downloads-file dd {
  font-size: 15px;
  margin: 20px 0;
}

.getting-started .downloads-file button {
  margin-top: 15px;
  padding: 5px 35px;
}

.getting-started .downloads-file .materialize-btn {
  width: 192px; height: 36px;
  background-image: url(../img/materialize-btn.png);
}

.getting-started .downloads-file .source-btn {
  width: 154px; height: 36px;
  background-image: url(../img/source-btn.png);
}

.getting-started .downloads-bash .desc { font-size: 15px; margin-top: 20px; }

.getting-started .code {
  background: #f5f2f0;
  border: 1px solid #E6E6E6;
  margin: 15px 0 30px;
  position: relative;
}

.getting-started .articles .title {
  font-size: 13px;
  background: #e8e6e3;
  border: 1px solid #E6E6E6;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 0; left: 0;
}

.getting-started .articles .content { color: #000; font-family: 'Inconsolata'; position: absolute; }
.getting-started .downloads-bash .content { top: 55px; left: 30px; }
.getting-started .articles .content span { font-family: inherit; }

.getting-started .downloads-bash .cdn .code { height: 195px; }
.getting-started .downloads-bash .npm .code { height: 100px; }
.getting-started .downloads-bash .bower .code { height: 100px; }

.getting-started .downloads-bash .cdn .content { color: #999; }

.getting-started .content .comment { color: slategray; }
.getting-started .content .tag { color: #906; }
.getting-started .content .attr { color: #690; }
.getting-started .content .value { color: #07a; }

.getting-started .article2 > h3 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 15px;
}

.getting-started .article2 .desc {
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px;
}

.getting-started .article2 .desc span {
  background: #f5f2f0;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  padding: 5px;
}

.getting-started .article2 .code:nth-of-type(1) {
  height: 333px;
}

.getting-started .article2 .code:nth-of-type(1) .content {
  line-height: 22px;
  top: 55px; left: 30px;
}

.getting-started .article2 .code:nth-of-type(2) {
  height: 494px;
}

.getting-started .article2 .code:nth-of-type(2) .content {
  color: #999;
  line-height: 22px;
  top: 60px; left: 30px;
}

.getting-started .article3 .desc { margin-top: 30px; }

.getting-started .templates { margin-top: 30px; overflow: auto; }

.getting-started .templates dl { float: left; }
.getting-started .templates dl:nth-child(1) { margin-right: 20px; }
.getting-started .templates dd > p { font-size: 15px; margin: 15px 0; }

.getting-started .templates .demo-btn {
  width: 138px; height: 36px;
  background-image: url(../img/demo-btn.png);
}

.getting-started .templates .download-btn {
  width: 180px; height: 36px;
  background-image: url(../img/download-btn.png);
}

.getting-started .article4 .desc {
  font-size: 19px;
  font-weight: 300;
  margin: 20px 0;
}

.getting-started .article4 h3 { margin-top: 10px; }
.getting-started .ruby-gem > p { font-size: 14px; margin-top: 20px; }

.getting-started .ruby-gem .code,
.getting-started .meteor-pkg .code { height: 105px; }
.getting-started .ember-pkg .code { height: 165px; }

.getting-started .content { top: 55px; left: 30px; }

.getting-started .article5 .desc { margin-top: 15px; }
.getting-started .article5 h3 { font-size: 35px; font-weight: 400; margin-top: 30px; }
.getting-started .article5 h3 ~ p { font-size: 15px; }

.getting-started .article5 .code { height: 380px; }
